$color-instock-black: #13182c;
$color-instock-slate: #5c667e;
$color-instock-graphite: #233940;
$color-instock-green: #158463;
$color-instock-indigo: #2e66e5;
$color-instock-cloud: #bdc5d5;
$color-instock-light-grey: #f7f8f9;
$color-instock-red: #c94515;
$color-instock-white: #ffffff;
