@use "../../styles/partials/variables" as *;

.itd-component-wrapper {
  position: absolute;
  top: 8.5rem;
  width: 100%;
  .itd-component {
    margin: 0 1rem;
    border-radius: 4px;
    background-color: $color-instock-white;
    &__header {
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      .header-start {
        display: flex;
        .back-link {
          align-self: self-end;
          margin-right: 0.5rem;
        }
      }
      .header-end {
        .edit-link {
          align-self: self-end;
          &__button {
            background-color: $color-instock-indigo;
          }
        }
      }
      .itd-component__title {
      }
    }
    &__body {
    }
  }
}
