@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.itd-component-wrapper {
  position: absolute;
  top: 8.5rem;
  @include tablet {
    top: 5.55rem;
  }
  width: 100%;
  .itd-component {
    margin: 0 1rem;
    border-radius: 0.25rem;
    background-color: $color-instock-white;
    &__header {
      padding: 2rem 2rem 1.5rem 2rem;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $color-instock-cloud;
      .header-start {
        display: flex;
        .back-link {
          align-self: flex-end;
          margin-right: 0.5rem;
        }
      }
      .header-end {
        .edit-button {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          height: 2.25rem;
          border: none;
          border-radius: 1.25rem;
          color: $color-instock-white;
          background-color: $color-instock-indigo;
          padding: 0 0.4rem;
          @include tablet {
            padding: 0 1rem;
          }
          &__text {
            color: $color-instock-white;
            display: none;
            @include tablet {
              display: inline;
            }
          }
        }
      }
    }
    &__body {
      //   padding: 0rem 2rem 2rem 2rem;
      padding-bottom: 1rem;
      .body-start,
      .body-end {
        padding: 0 2rem;
        .tag-wrapper {
          margin-top: 0.25rem;
        }
        .row {
          .columns {
            margin-bottom: 1.25rem;
            display: flex;
            .column {
              width: 50%;
            }
          }
          margin: 1rem 0;
          .detail-text {
            @include p2;
            margin-top: 0.25rem;
            &--tag-red {
              font-weight: 700;
              color: rgb(201, 69, 21);
              border-radius: 1.25rem;
              padding: 0.25rem 0.5rem;
              @include tablet {
                height: 1.625rem;
              }
              background-color: rgb(201, 69, 21, 0.07);
            }
          }
        }
      }
    }
  }
}
